# Meta
META_DATASET_ID=
META_ACCESS_TOKEN=""

# Google - Data Manager API
GOOGLE_ADS_CUSTOMER_ID=
GCP_PROJECT_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=

# Bing / Microsoft Advertising
BING_CUSTOMER_ID=
BING_ACCOUNT_ID=
BING_DEVELOPER_TOKEN=
BING_CLIENT_ID=
BING_CLIENT_SECRET=
BING_REFRESH_TOKEN=
